<% if (notice) { %>
    <p><%= notice %></p>
  <% } %>
  
  <p>
    Mi Perfil
  </p>
  
  <section>
    <div>FOTO</div>
    <div>
        <div>Nombre: </div>
        <div>Edad: </div>
        <div>Sexo: </div>
        <div>Email: </div>
    </div>
  </section>
  