<% if (notice) { %>
    <p><%= notice %></p>
<% } %>
  

<body>
    <div id="container">
        <h1 id="titulo">Mi Perfil</h1>

        <div class="container-child">
            <div class="float-container">
            </div>
        </div>

        <div class="flex-container">

            <div class="flex-child-picture">
                <div class="float-child"> 
                    <img id="profile_pic" src="https://espanol.news24viral.com/wp-content/uploads/2021/05/l-intro-1621355839.jpg">
                </div>
            </div>
            
            <div class="flex-child green">
                <div class="float-child" id="right-side">
                    <div>Nombre: Danny Devito</div> <br/>
                    <div>Edad: 76</div> <br/>
                    <div>Sexo: Masculino</div> <br/>
                    <div>Email: ddevito@gmail.com</div>
                </div>
            </div>
            
          </div>

        <div class="container-child">
            <section class="float-">
                
                <button class="float-" type="button">Vincular Dispositivo</button>
                <button class="float-" type="button">Emitir Alerta</button>
            </section>
        </div>
    </div>

    <!-- <section class="float-container"> -->
    


    

  <!-- </section> -->


</body>